.about-baikal{
    margin-bottom: 36px
};
.about-baikal-title{
margin-bottom: 16px;

    font-weight: 700;
    font-size: 22px;
    line-height: 1.32;

color: #000000;

};
.about-baikal-text{

    margin-bottom: 12px;
    
    font-size: 16px;
    line-height: 1.32;
                       



    color: #333333;

};
.about-baikal-link{
    
    line-height: 1.14;
    text-decoration-line: underline;


    color: #76767A;
};