.about-baikal{
    margin-bottom: 36px
};
.about-baikal-title{
margin-bottom: 16px;

    font-weight: 700;
    font-size: 22px;
    line-height: 1.32;

color: #000000;

};
.about-baikal-text{

    margin-bottom: 12px;
    
    font-size: 16px;
    line-height: 1.32;
                       



    color: #333333;

};
.about-baikal-link{
    
    line-height: 1.14;
    text-decoration-line: underline;


    color: #76767A;
};

.read-more-state {
    display: none;
  };


  .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
  };

  .read-more-state:checked ~ .about-baikal-text .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  };
  .read-more-state ~ .read-more-trigger:before {
    content: 'Читать подробней';
  };
  
  .read-more-state:checked ~ .read-more-trigger:before {
    content: 'Меньше';
  };

  .read-more-trigger {
    cursor: pointer;
    line-height: 1.14;
    text-decoration-line: underline;


    color: #76767A;





    // display: inline-block;
    // padding: 0 .5em;
    // color: #666;
    // font-size: .9em;
    // line-height: 2;
    // border: 1px solid #ddd;
    // border-radius: .25em;
  };