.hero {
    margin-left: auto;
    margin-right: auto;
    background-color:  #c4c4c4;
   
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
    @media screen and (max-width: 767px) {
      max-width: $mobile;
      min-height: 480px;
      background-image: url("../../images/hero/hero-bg-picture-mobile-1x.jpg/");
  
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../../images/hero/hero-bg-picture-mobile-2x.jpg");
      }
    }
}


.hero-title{
  padding-top: 32px;
  text-align: center;


  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
/* or 52px */


color: #FFFFFF;
}